[Unit]
Description=ArduPilot-Sub for t3-gem-o1 Board
Documentation=https://docs.t3gemstone.org

After=ardupilot-sysconfig.service
Requires=ardupilot-sysconfig.service
Conflicts=arducopter.service arduplane.service ardurover.service

[Service]
EnvironmentFile=/opt/gemstone/ardupilot/ardupilot.env

ExecStart=/bin/bash -c '/opt/gemstone/ardupilot/ardusub ${ARDUPILOT_ARGS}'

Restart=on-failure

[Install]
WantedBy=multi-user.target
